<!DOCTYPE html>
<html>
<head>
	<title>Web Audio API</title>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	
	<!-- JPlayer CSS -->
	<link type="text/css" href="css/skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet" />

	<!-- JQuery -->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<!-- Bootstrap JS -->
	<script type="text/javascript" src="bootstrap_js/bootstrap.min.js"></script>

	<!-- JPlayer JS -->
	<script type="text/javascript" src="js/jquery.jplayer.min.js"></script>
	
	<!-- Native JS -->
	<script type="text/javascript" src="js/index.js"></script>
	
</head>

<body>
	<div class="container">
		{% block body %}{% endblock %}
	</div>
</body>
</html>